# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [47]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

In [48]:

#pd.core.common.is_list_like = pd.api.types.is_list_like

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [49]:
start_date = dt.datetime(2015, 1, 1)
end_date = dt.datetime.today()
start_date

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [50]:
stocks = ['APPLE', 'TSLA', 'IBM']

### Step 4. Read the data from google, assign to df and print it

In [51]:
df = web.DataReader('TSLA', 'yahoo', start_date, end_date)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,44.650002,42.652000,44.574001,43.862000,23822000.0,43.862000
2015-01-05,43.299999,41.431999,42.910000,42.018002,26842500.0,42.018002
2015-01-06,42.840000,40.841999,42.012001,42.256001,31309500.0,42.256001
2015-01-07,42.956001,41.956001,42.669998,42.189999,14842000.0,42.189999
2015-01-08,42.759998,42.001999,42.562000,42.124001,17212500.0,42.124001
...,...,...,...,...,...,...
2022-03-02,886.479980,844.270020,872.130005,879.890015,24881100.0,879.890015
2022-03-03,886.440002,832.599976,878.770020,839.289978,20541200.0,839.289978
2022-03-04,855.650024,825.159973,849.099976,838.289978,22333200.0,838.289978
2022-03-07,866.140015,804.570007,856.299988,804.580017,24073300.0,804.580017
2022-03-08,811.000000,782.169983,795.530029,794.550110,5545872.0,794.550110

### Step 5.  What is the type of structure of df ?

In [52]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [53]:
df.items

<bound method DataFrame.items of                   High         Low        Open       Close      Volume  \
Date
2015-01-02   44.650002   42.652000   44.574001   43.862000  23822000.0
2015-01-05   43.299999   41.431999   42.910000   42.018002  26842500.0
2015-01-06   42.840000   40.841999   42.012001   42.256001  31309500.0
2015-01-07   42.956001   41.956001   42.669998   42.189999  14842000.0
2015-01-08   42.759998   42.001999   42.562000   42.124001  17212500.0
...                ...         ...         ...         ...         ...
2022-03-02  886.479980  844.270020  872.130005  879.890015  24881100.0
2022-03-03  886.440002  832.599976  878.770020  839.289978  20541200.0
2022-03-04  855.650024  825.159973  849.099976  838.289978  22333200.0
2022-03-07  866.140015  804.570007  856.299988  804.580017  24073300.0
2022-03-08  811.000000  782.169983  795.530029  794.550110   5545872.0

             Adj Close
Date
2015-01-02   43.862000
2015-01-05   42.018002
2015-01-06   42.256001
2015-01-07   42.189999
2015-01-08   42.124001
...                ...
2022-03-02  879.890015
2022-03-03  839.289978
2022-03-04  838.289978
2022-03-07  804.580017
2022-03-08  794.550110

[1808 rows x 6 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [54]:
vol = df['Volume']
vol.head()

Date
2015-01-02    23822000.0
2015-01-05    26842500.0
2015-01-06    31309500.0
2015-01-07    14842000.0
2015-01-08    17212500.0
Name: Volume, dtype: float64

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [56]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['year','week']).sum()
week.head()

AttributeError: 'Index' object has no attribute 'week'

### Step 9. Find all the volume traded in the year of 2015

In [ ]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

AttributeError: 'Index' object has no attribute 'year'

### BONUS: Create your own question and answer it.